<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - CAC-Movies</title>
</head>
<body>
    
    <!-- Encabezado -->
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <!-- Más adelante se agregará un ícono -->
                    <span class="logo-texto">
                        CAC - Movies
                    </span>
                </a>
            </div>
    </header>

    <!-- Contenido -->
    <main>

        <!-- form-wrapper: formulario -->
        <section id="form-wrapper">
            <form action="#" id="formRegister" method="GET" novalidate>
                <div class="form-control">
                    <label>Usuario</label>
                    <input type="text" required name="firstname" id="firstname">
                </div>

                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" required name="password" id="password">
                </div>
                <div class="error" id="error-password"></div>
              
                
                
                <button type="submit">Iniciar Sesión</button>
                <div class="form-help">
                    <a href="#">Si olvido su contraseña presiona aquí?</a>
                </div>
            </form>
        </section>

    </main>
    
    <footer></footer>
    
</body>
</html>